.container{
    width: 80%;
    min-height: 100vh;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
   
}
h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
h1 img{
    width: 60px;
}
button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 16px;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px ;
    cursor: pointer;
}
button img{
    width: 20px;
}
.input-box{
     position: relative;
    width: 100%;
    max-width: 50%;
     max-height: 50%; 
    min-height: 140px;
    background: #fff;
    color:#333;
    outline: none;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
}
.input-box img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}